<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta
      charset="utf-8"
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"
    />
    <title><%= lang('app.title') %></title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css" />
    <style>
      #main {
        display: none;
        height: calc(100% - 33px);
        width: 100%;
        position: absolute;
        z-index: 10;
      }
      #main[overlay] {
        filter: blur(3px) contrast(0.9) brightness(1);
      }
    </style>
  </head>
  <body>
    <%- include('frame') %>
    <div id="main">
      <%- include('login') %> <%- include('waiting') %> <%-
      include('loginOptions') %> <%- include('settings') %> <%-
      include('landing') %>
    </div>
    <%- include('overlay') %>
    <div class="contain">
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>
  </body>
</html>
